* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    width: 100%;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.conteiner {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 0.2); 
}

img {
    width: 150px;
    height: 48px;
    margin: 0 auto;
}

p {
    font-size: 1rem;
    color: rgb(107 114 128);
    font-weight: 500;
    line-height: 1rem;
    max-width: 95%;
    margin: 35px auto 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    height: 42px;
    padding-left: 10px;
    border: none;
    background-color: rgb(229 231 235);
}

form input::placeholder {
    color: black;
    font-size: 12px;
}

.borde {
    border: 2px black solid;
}

button {
    width: 100%;
    margin-top: 1rem;
    font-size: 0.875rem;
    padding: 1rem;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
}

button:hover {
    background-color: rgb(79 70 229);
}

.cupon {
    background-color: #4b5563;
}

.cupon:hover {
    background-color: rgb(31 41 55);
}

span {
    color: red;
    font-style: italic;
}

.icon {
    order: 1;
}

.title {
    order: 2;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
}